body{
    background-color: black;
    color: white;
    margin-left: 10%;
}
#welcome{
    background-color: black;
    color:white;
    font-size: 52px;
    text-align: center;
    width: max-content;
    
}
input{
    background-color: white;
    color: black;
}
table {
    border-collapse: collapse;
}

.optionBtn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    margin: 3px;
}

.optionBtn > img {
    width: 20px;
    height: 20px;
}

td:nth-child(3) {
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
#home{
    font-size: 52px;
    font-weight: bold;
    margin-left: 40%;
}
button{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
}
