
#welcome{
    background-color: black;
    color:white;
    font-size: 52px;
    text-align: center;
    padding: 50px 50px 50px 50px;
    width: max-content;
    
}
table {
    border-collapse: collapse;
}

.optionBtn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    margin: 3px;
}

.optionBtn > img {
    width: 20px;
    height: 20px;
}

td:nth-child(3) {
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
#home{
    font-size: 24px;
    font-weight: bold;
}
#lists{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
